{% extends 'base.html.twig' %}

{% block title %}New Commitment{% endblock %}

{% block body %}
    <h1>Create new Commitment</h1>

    {{ include('commitment/_form.html.twig') }}

    <a href="{{ path('commitment.index') }}">back to list</a>
{% endblock %}
